＜link rel="stylesheet" href="{{ asset('css/style.css') }}" /＞
{% extends "::base.html.twig" %}

{% block title %}AppBundle:MyController:my{% endblock %}

{% block body %}
<h1>Welcame to the MyController:my page</h1>
<p>test</p>
<h2>謝罪 </h2>
{% endblock %}
